
.body {
    background-image: url('https://thumbs.gfycat.com/BitesizedDesertedBallpython-max-1mb.gif');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 1600px 180px ;
    
}
